<h1>Welcome to Meadowlark Travel</h1>

{{#if flash}}
<div class="alert alert-dismissible alert-{{flash.type}}">
<button type="button" class="close"
data-dismiss="alert" aria-hidden="true">&times;<button>
<strong>{{flash.intro}}</strong> {{{flash.message}}}
</div>
{{/if}}


{{> weather}}
